@keyframes shark {
    0% {
      transform: translateX(0%) scaleX(1);
    }
    50% {
      transform: translateX(100%) scaleX(1);
    }
    51% {
      transform: translateX(100%) scaleX(-1);
    }
    100% {
      transform: translateX(0%) scaleX(-1);
    }
  }

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

.game-over {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(108,223,251,1) 0%, rgba(108,223,251,1) 75%, rgba(172,222,234,1) 75%, rgba(172,222,234,1) 79%, rgba(108,223,251,1) 79%, rgba(108,223,251,1) 81%, rgba(172,222,234,1) 81%, rgba(172,222,234,1) 85%, rgba(108,223,251,1) 85%, rgba(109,223,251,1) 88%, rgba(172,222,234,1) 88%, rgba(172,222,234,1) 100%, rgba(108,223,251,1) 100%);

  &:after, &:before {
    content: '';
    position: absolute;
  }
  &:after {
    width: 100%;
    height: 55vh;
    background: url('./images/game-over-water.svg') center bottom no-repeat;
    background-size: cover;

    bottom: -5vh;
    z-index: 0;
    left: 0;
  }
  
  &:before {
    background: url('./images/game-over-shark.svg') no-repeat;
    width: 260px;
    height: 70px;
    bottom: 20vh;
    transform: translateX(-25%);
    animation: shark 5s ease-in-out infinite;
    z-index: 1;
  }

  &__text-box {
    padding: 1rem 0;
    position: relative;
    z-index: 1000;
    display: flex;
    width: 98vw;
    @media screen AND (min-width:600px) {
      width: 80vw;
    }
    align-self: center;
    margin-top: 16px;
    justify-content: center;
    flex-direction: column;
    background: rgba(100,215,250,0.9);
  box-shadow:
      0   -6px 0  -2px rgba(100,215,250,0.9),
      0    6px 0  -2px rgba(100,215,250,0.9),
      0  -12px 0  -4px rgba(100,215,250,0.9),
      0   12px 0  -4px rgba(100,215,250,0.9),
      0  -18px 0  -8px rgba(100,215,250,0.9),
      0   18px 0  -8px rgba(100,215,250,0.9),
      0  -24px 0 -12px rgba(100,215,250,0.9),
      0   24px 0 -12px rgba(100,215,250,0.9),
     -2px  0   0   0   var(--border),
      2px  0   0   0   var(--border),
      0   -4px 0   0   var(--border),
      0    4px 0   0   var(--border),
      0  -10px 0  -2px var(--border),
      0   10px 0  -2px var(--border),
      0  -14px 0  -4px var(--border),
      0   14px 0  -4px var(--border),
      0  -20px 0  -8px var(--border),
      0   20px 0  -8px var(--border),
      0  -26px 0 -12px var(--border),
      0   26px 0 -12px var(--border),
     -4px  0   0   0   var(--accent),
      4px  0   0   0   var(--accent),
      0   -2px 0   2px var(--accent),
      0    2px 0   2px var(--accent),
      0   -8px 0   0px var(--accent),
      0    8px 0   0px var(--accent),
      0  -12px 0  -2px var(--accent),
      0   12px 0  -2px var(--accent),
      0  -16px 0  -4px var(--accent),
      0   16px 0  -4px var(--accent),
      0  -22px 0  -8px var(--accent),
      0   22px 0  -8px var(--accent),
      0  -28px 0 -12px var(--accent),
      0   28px 0 -12px var(--accent),
     -6px  0   0   0   var(--border),
      6px  0   0   0   var(--border),
      0    0   0   4px var(--border),
      0   -6px 0   2px var(--border),
      0    6px 0   2px var(--border),
      0  -10px 0   0   var(--border),
      0   10px 0   0   var(--border),
      0  -14px 0  -2px var(--border),
      0   14px 0  -2px var(--border),
      0  -18px 0  -4px var(--border),
      0   18px 0  -4px var(--border),
      0  -24px 0  -8px var(--border),
      0   24px 0  -8px var(--border),
      0  -30px 0 -12px var(--border),
      0   30px 0 -12px var(--border);

      &:after {
        position: fixed;
        bottom: 10px;
        right: 10px;
        content:"\00a9 1981 Containers Inc.";
        font-family: 'dogica-bold', sans-serif;
        color: #fff;
      }
  }

  &__title {
    align-self: center;
    margin:1vh 0 0 0;
    width: 90vw;
    max-width: 700px;
    height: 20vh;
    background: url('./images/game-over-text.svg') center center / contain no-repeat;
    text-indent: -10000px;
    &.game-over__winner {
      background: url('./images/game-over-congrats.svg') center center / contain no-repeat;
    }

  }
  &__sub-title {
    line-height: 3rem;
    margin: 0;
    color: var(--dark-purple);
    @media screen AND (max-width:950px) {
      font-size: .9rem; 
      line-height: 1.5rem; 
    }
  }
  &__text {
    font-size: 1rem;
    color: #25135a;
    line-height: 1.5rem;
    font-family: 'dogica-bold', sans-serif;
  }
  &__score {
    color: darkgreen;
    border: 2px solid darkgreen;
    background:rgba(255,255,255,0.7);
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media screen AND (max-width:500px) {
      flex-direction: column;
      line-height: 2rem;
    }
    width: 90%;
    max-width: 500px;
    margin: 0 0 24px;
    align-self: center;
    text-transform: uppercase;
  }

  &__action {
    background: url('./images/button-bg.svg') no-repeat;
    background-size: contain;
    height: 39px;
    align-self: center;
    cursor: pointer;
    width: 300px;
    border: none;
    color: #fff;
    font-family: 'dogica-bold', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 16px;
  }

  &__email {
    display: flex;
    justify-content: center;
    & * {
      font-family: 'dogica', sans-serif;
      font-size: .8rem;
      &:focus, &:active {
        border-radius: none;
        outline: none;
      }
    }
    &__input {
      padding: 8px; 
      width:280px;
      background: none;
      border: 2px solid var(--light-purple);
      border-right: none;
      color: #fff;
      
      &::placeholder {
        color:rgba(255,255,255,0.7);
      }
      &:after {
        content:'enter your email';
      }
    }
    &__action {
      padding: 16px 24px;
      text-transform: uppercase;
      background: var(--dark-purple);
      border: 2px solid var(--light-purple);
      border-left: none;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background: var(--light-purple);
      }
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    &__title {
      margin: 0;
      display: flex;
      align-items: flex-end;
      text-transform: uppercase;
      animation: loading 1s linear infinite alternate;
    }

  }
}