@keyframes shark {
    // 0%   {transform: translateX(-25%);}
    // 50% {transform: translateX(100%) }
    // 51% {transform: scaleX(-1);}
    // 100% {
    //   transform: translateX(-100%);
    // }
    0% {
      transform: translateX(0%) scaleX(1);
    }
    50% {
      transform: translateX(100%) scaleX(1);
    }
    51% {
      transform: translateX(100%) scaleX(-1);
    }
    100% {
      transform: translateX(0%) scaleX(-1);
    }
  }

.game-over {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  position: relative;

  &:after, &:before {
    content: '';
    position: absolute;
  }
  &:after {
    width: 100%;
    height: 55vh;
    background: url('./images/game-over-water.svg') center bottom no-repeat;
    background-size: cover;

    bottom: -5vh;
    z-index: -1;
    left: 0;
  }
  
  &:before {
    background: url('./images/game-over-shark.svg') no-repeat;
    width: 260px;
    height: 70px;
    bottom: 20vh;
    transform: translateX(-25%);
    animation: shark 5s ease-in-out infinite;
  }
  &__title {
    align-self: center;
    margin:1vh 0 0 0;
    width: 90vw;
    @media screen AND (min-width:750px) {
      height: 30vh; 
    }
    height: 20vh;
    background: url('./images/game-over-text.svg') center no-repeat;
    background-size: contain;
    text-indent: -10000px;

  }
  &__sub-title {
    line-height: 3rem;
    @media screen AND (max-width:750px) {
      font-size: 1rem;  
    }
  }
  &__action {
    background: url('./images/button-bg.svg') no-repeat;
    background-size: contain;
    height: 39px;
    align-self: center;
    cursor: pointer;
    width: 300px;
    border: none;
    color: #fff;
    font-family: 'dogica-bold', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  &__email {
    display: flex;
    justify-content: center;
    & * {
      font-family: 'dogica', sans-serif;
      font-size: .8rem;
      &:focus, &:active {
        border-radius: none;
        outline: none;
      }
    }
    &__input {
      padding: 8px; 
      width:280px;
      background: none;
      border: 2px solid var(--light-purple);
      border-right: none;
      color: #fff;
      
      &::placeholder {
        color:rgba(255,255,255,0.7);
      }
      &:after {
        content:'enter your email';
      }
    }
    &__action {
      padding: 16px 24px;
      text-transform: uppercase;
      background: var(--dark-purple);
      border: 2px solid var(--light-purple);
      border-left: none;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background: var(--light-purple);
      }
    }
  }
}