:root {
  --green : #7ac49e;
  --dark-green: #161c01;
  --dark-purple: #151628;
  --ocean: #2795f5;
  --gold: #efc100;
  --silver: #939393;
  --bronze: #c1947a;
  --grid-bg: #14281d;
  --sky: #64d8fa;
}

body {
  font-family: 'dogica', sans-serif;
  display: grid;
  background: var(--ocean);
}

.dashboard-section {  
   @media screen and (max-width:850px) {
       display: none;
  }
  position: absolute;
  padding-top: 64px;
  top: 50%;
  transform: translateY(-50%);
  width: 412px;
  height: 685px;
  z-index: 2000;
  color: #fff;
  text-shadow: 2px 2px 0 var(--dark-green);
  h1 {
      margin: 0 0 32px; 
      font-size: 16px;
      text-align: center;
  }
  h2 {
      font-size: 14px;
  }
  ul {
      list-style: none;
      padding: 0;
      font-size: 12px;
  }
  li {
      margin-bottom: 16px;
      color: var(--green);
      text-shadow: 2px 2px 0 var(--dark-green);
      display: flex;
      
  }
  &::after {
      content:''; 
      background-size: contain; 
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  
}