.game-data {
    transition: right .25s linear;
    right: 0;

        &::after {
            background:url("/images/dashboard-right.svg") left 0 no-repeat,  var(--grid-bg);
        }
    ul, h2 {
        margin-left: 64px;
        margin-right: 24px;
    }
    h2 {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    li {
        justify-content: space-between;
    }

}