@keyframes bob {
  0%  {
      transform: rotate(10deg) translateY(2px);
    transform: rotate(10deg) translateY(2px);
  }
  50%  {
      transform: rotate(-10deg) translateY(0px);
    transform: rotate(-10deg) translateY(0px);
  }
  100%  {
      transform: rotate(10deg) translateY(2px); 
    transform: rotate(10deg) translateY(2px); 
  } 
}

@keyframes scroll {
  0%   {left: 0px;}
  100% {left: -950px;}
}


@keyframes fade {
  0%   {opacity: 0;}
  25%  {opacity: 1;}
  33%  {opacity: 0;}
  50% {opacity: 1;}
  77% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes shake {
  0% {
    left: 51%;
  }
  50% {
      left: 49%;
  }
  100% {
    left: 50%;
  }
}

@keyframes fire {  
  100% {
      background-position: center -131px;
  }
}

@keyframes ship-hit {
  0%   {top: -12%}
  100% {top: -8%;}
}

@keyframes ship-hit-horiz {
  0%  {
    left: 18%;
      }
  100% {
    left: 10%;
  }
}

@keyframes peg {
  0%   { background-position: center 0px; } 
  100% { background-position: center 15px; }
}


.body-wrap {
  &:not(.paused) {
      .top-ten {
          left: -370px;
      }
      .game-data {
          right: -370px;
      }
  }

  &.paused, &.game-over {
      .attack-grid {
          .cell {
              position: relative;
              &:after {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  color: #fff;
                  font-size: 2rem;
                  line-height: 1rem;
              }
          }
      }
  }

  &.paused .attack-grid .cell{
      &:nth-child(1) {
          &:after {
              content: 'P';
          }
      }
      &:nth-child(7) {
          &:after {
              content: 'A';
          }
      }
      &:nth-child(13) {
          &:after {
              content: 'U';
          }
      }
      &:nth-child(19) {
          &:after {
              content: 'S';
          }
      }
      &:nth-child(25) {
          &:after {
              content: 'E';
          }
      }
  }

  &.game-over .attack-grid .cell {
      &:nth-child(6) {
          &:after {
              content: 'G';
          }
      }
      &:nth-child(7) {
          &:after {
              content: 'A';
          }
      }
      &:nth-child(8) {
          &:after {
              content: 'M';
          }
      }
      &:nth-child(9) {
          &:after {
              content: 'E';
          }
      }
      &:nth-child(12) {
          &:after {
              content: 'O';
          }
      }
      &:nth-child(13) {
          &:after {
              content: 'V';
          }
      }
      &:nth-child(14) {
          &:after {
              content: 'E';
          }
      }
      &:nth-child(15) {
          &:after {
              content: 'R';
          }
      }
  }
}



.Battleship {
  position: relative;
  width: 100%;
  height: 100%;

  .board-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 80px);
    
    position: relative;
    .box {
      background: 
      url("./images/rope.svg") center left repeat-y, 
      url("./images/rope-horiz.svg") bottom left repeat-x;

     &:nth-child(-n+5) {
      background: 
      url("./images/rope.svg") center left repeat-y, 
      url("./images/rope-horiz.svg") bottom left repeat-x, 
      url("./images/rope-horiz.svg") top left repeat-x;
     }

     &:nth-child(5n+5){
      background: 
      url("./images/rope.svg") center left repeat-y, 
      url("./images/rope-horiz.svg") bottom left repeat-x, 
      url("./images/rope.svg") center right repeat-y;
     }

     &:nth-child(5) {
         background: 
         url("./images/rope-horiz.svg") top left repeat-x,
         url("./images/rope-horiz.svg") bottom left repeat-x,
         url("./images/rope.svg") center left repeat-y,
         url("./images/rope.svg") center right repeat-y;
         ;
     }
  }
  }

  /* bouys */
  .ship-grid {
    position: relative;
  }

  .bouy {
      position: absolute;
      z-index: 1;
      &:before {
        content: '';
        width: 25px;
        height: 35px;
        position: absolute;
        background: url("./images/bouy.svg") no-repeat;
      }

      &:after {
          content: '';
          width:32px;
          height:10px;
          background-color: #2795f5ab;
          position: absolute;
      }
  
  &:nth-child(1) {
      left: -9px;
      top: -26px;   
       &:before {
         will-change: transform;
         animation:bob 5s linear 0s infinite;
       }
       &:after {
           top:30px;
           left: -3px;
       }
   }
   &:nth-child(2) {
        right: 12px;
        top: -22px;
        &:before {
          will-change: transform;
          animation:bob 5s linear .5s infinite;
        }
       &:after {
           top:30px;
           right: -19px;
       }
   }
   &:nth-child(3) {
        left: -10px;
        bottom: 24px;
        &:before {
          will-change: transform;
          animation:bob 3s linear 1s infinite; 
        }
       &:after {
           bottom: -40px;
           left: -6px;
       }
   }
   &:nth-child(4) {
        right: 9px;
        bottom: 26px;
        &:before {
          will-change: transform;
          animation:bob 5s linear -1s infinite;
        }
       &:after {
           bottom: -40px;
           right: -26px;
       }
   }
  }
  


  .grid.dragging:not(.dragging-touch) {
    cursor: pointer;
  }
  
  .grid.locked .ship {
    cursor: initial;
  }
  
  .grid.locked .ship .rotate {
    display: none;
  }

  .box {
    height: 80px;
    width: 80px;
    position: relative;
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
    }

    &:before {
      transition: opacity .1s .2s linear;
      opacity: 0;
      background: url("./images/shot-water.svg") 20px 23px no-repeat;
    }
    &.miss, &.hit {
      &:before {
        opacity: 1;
      }
      &:after {
        animation: peg .1s linear;
      }
    }
  }
  
  
  .box.miss::after {
    background: url("./images/miss-shot.svg") center 15px no-repeat;   
  }

  .box.green,.box.red {
    &:after {
      content: "";
      width:100%;
      height:100%;
      display:block;
    }
  }

  .box.green:after {
    background-color: rgba(60, 179, 114, 0.658);
  }
  
  .box.red:after {
    background-color: rgba(255, 0, 0, 0.616);
  }
  
  .ship-piece.hit::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
  }

  .ship[orientation="horizontal"]{
    .ship-piece.hit:after {
      left: 10%;
      top: -4%;
      transform: rotate(90deg);
      animation: ship-hit-horiz .1s linear;
    }
  } 

  // .box.hit:after,.box.hit.destroyed::after {
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  // }
  
  .ship-piece.hit:after, .ship-piece.destroyed::after  {
    transform: translateX(-50%);
    animation: ship-hit .1s linear;
  }

  .ship-piece.hit:after, .ship-piece.destroyed::after  {
    background: url("./images/ship-hit.svg") center center no-repeat;
  }

  .box.hit:after,.box.hit.destroyed::after {
    background: url("./images/hit-shot.svg") center 15px no-repeat;
  }
  

  .ship-grid.not-ready .box.peg-hole:after {
    display: none;
  }

  .box.peg-hole:not(.hit):after {

    content:"";
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("./images/peg.svg") center center no-repeat;
  }
  
  
  .ship {
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }

  .ship[type="carrier"]{
    background: url("./images/carrier.svg") no-repeat;
  }

  .ship[type="destroyer"] {
    background: url("./images/destroyer.svg") no-repeat;
  }
  
  .ship[type="submarine"] {
    background: url("./images/submarine.svg") no-repeat;
  }
  
  .ship[type="battleship"] {
    background: url("./images/battleship.svg") no-repeat;
  }

  
  .ship.dragging {
    z-index: 100;
  }
  
  .ship.dragging .ship-piece {
    cursor: pointer;
  }
  
  .ship .rotate {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 13;
    border-radius: 100%;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ship .rotate svg {
    height: 24px;
    width: 24px;
    pointer-events: none;
  }
  
  .ship-piece {
    width: 80px;
    height: 80px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // .ship-piece[type="destroyer"] {
  //   background-color: purple;
  // }
  
  // .ship-piece[type="submarine"] {
  //   background-color: #0057a8;
  // }
  
  // .ship-piece[type="battleship"] {
  //   background-color: #a51759;
  // }
  
  // .ship-piece[type="carrier"] {
  //   background-color: green;
  // }
  
  // .ship-piece.destroyed::after {
  //   content: "x";
  //   position: absolute;
  //   width: 24px;
  //   height: 24px;
  //   color: white;
  //   top: calc(50% - 12px);
  //   left: calc(50% - 12px);
  //   z-index: 1;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  
  
  #attack-grid {
    // .attacking {
    //   background: url(./images/miss-shot.svg) no-repeat;
    // }

    .box {
      cursor: pointer;
    }
  }

  label {
    margin-left: 1rem;
  }

  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: space-between;
    padding-top: 6vh;
  }

  

  .opponent-ships-list {
    display: flex;

    > div {
      margin-right: 0.5rem;
    }
  }

  // .push-top {
  //   margin-top: 1rem;
  // }

  // .push-bottom {
  //   margin-bottom: 1rem;
  // }

  .hide {
    opacity: 0;
    z-index: -1;
  }

  .ui-progress {
    img {
      height: 24px;
      margin-bottom: 0.5rem;
    }
  }
}