:root {
  --slide-up: 4px; 
}

@media (min-width: 420px) {
  :root {
    --slide-up: 15px;
  }
}

@keyframes bob {
  0%  {
      transform: rotate(10deg) translateY(2px);
    transform: rotate(10deg) translateY(2px);
  }
  50%  {
      transform: rotate(-10deg) translateY(0px);
    transform: rotate(-10deg) translateY(0px);
  }
  100%  {
      transform: rotate(10deg) translateY(2px); 
    transform: rotate(10deg) translateY(2px); 
  } 
}

@keyframes scroll {
  0%   {transform: translateX(-10%);}
  100% {transform: translateX(-100%);}
}


@keyframes fade {
  0%   {opacity: 0;}
  25%  {opacity: 1;}
  33%  {opacity: 0;}
  50% {opacity: 1;}
  77% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes shake {
  0% {
    left: 51%;
  }
  50% {
      left: 49%;
  }
  100% {
    left: 50%;
  }
}

@keyframes fire {  
  100% {
      background-position: center -131px;
  }
}

@keyframes ship-hit {
  0%   {top: -12%}
  100% {top: -8%;}
}

@keyframes ship-hit-horiz {
  0%  {
    left: 18%;
      }
  100% {
    left: 10%;
  }
}

@keyframes peg {
  0%   { background-position: center 0px; } 
  100% { background-position: center var(--slide-up); }
}

@keyframes pause {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
  
}


.body-wrap {
  &:not(.paused) {
      .pause-grid {
        display: none;
      }
  }

  &.paused {
    .pause-grid {
      display: grid;
      color: #fff;
      font-size: 2rem;
      grid-template-columns: repeat(5, 60px);
      grid-template-rows: repeat(5, 60px);
      @media screen AND (min-width:440px) {
        grid-template-columns: repeat(5, 80px);
        grid-template-rows: repeat(5, 80px);
      }
      position: absolute;
      z-index: 1000;
      grid-template-areas:
      "P . . . ."
      ". A . . ."
      ". . U . ."
      ". . . S ."
      ". . . . E"
      ;
      span {
        animation: pause 1s linear infinite alternate;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--sky);
        &:nth-child(1) {
          grid-area: P;
        }
        &:nth-child(2) {
          grid-area: A;
        }
        &:nth-child(3) {
          grid-area: U;
        }
        &:nth-child(4) {
          grid-area: S;
        }
        &:nth-child(5) {
          grid-area: E;
        }
      }
    }
      .attack-grid {
          .cell {
              position: relative;
              &:after {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  color: #fff;
                  font-size: 2rem;
                  line-height: 1rem;
              }
          }
      }
  }

  &.paused {
    #ship-grid.not-ready {
      .ship {
        display: none;
      }
    }
  }
}



.Battleship {
  position: relative;
  width: 100%;
  height: 100%;

  .board-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 60px);

    @media (min-width: 420px) {
      grid-template-columns: repeat(5, 80px);
    }
    
    position: relative;
    .box {
      background: 
      url("./images/rope.svg") center left repeat-y, 
      url("./images/rope-horiz.svg") bottom left repeat-x;

     &:nth-child(-n+5) {
      background: 
      url("./images/rope.svg") center left repeat-y, 
      url("./images/rope-horiz.svg") bottom left repeat-x, 
      url("./images/rope-horiz.svg") top left repeat-x;
     }

     &:nth-child(5n+5){
      background: 
      url("./images/rope.svg") center left repeat-y, 
      url("./images/rope-horiz.svg") bottom left repeat-x, 
      url("./images/rope.svg") center right repeat-y;
     }

     &:nth-child(5) {
         background: 
         url("./images/rope-horiz.svg") top left repeat-x,
         url("./images/rope-horiz.svg") bottom left repeat-x,
         url("./images/rope.svg") center left repeat-y,
         url("./images/rope.svg") center right repeat-y;
         ;
     }
  }
  }

  /* bouys */
  .ship-grid {
    position: relative;
  }

  .bouy {
      position: absolute;
      z-index: 1;
      &:before {
        content: '';
        width: 25px;
        height: 35px;
        position: absolute;
        background: url("./images/bouy.svg") no-repeat;
      }

      &:after {
          content: '';
          width:25px;
          height:10px;
          background-color: #2795f5ab;
          position: absolute;
      }
  
  &:nth-child(1) {
      left: -9px;
      top: -26px;   
       &:before {
         will-change: transform;
         animation:bob 5s linear 0s infinite;
       }
       &:after {
           top:30px;
           left: -3px;
       }
   }
   &:nth-child(2) {
        right: 12px;
        top: -22px;
        &:before {
          will-change: transform;
          animation:bob 5s linear .5s infinite;
        }
       &:after {
           top:30px;
           right: -19px;
       }
   }
   &:nth-child(3) {
        left: -10px;
        bottom: 24px;
        &:before {
          will-change: transform;
          animation:bob 3s linear 1s infinite; 
        }
       &:after {
           bottom: -40px;
           left: -6px;
       }
   }
   &:nth-child(4) {
        right: 9px;
        bottom: 26px;
        &:before {
          will-change: transform;
          animation:bob 5s linear -1s infinite;
        }
       &:after {
           bottom: -40px;
           right: -26px;
       }
   }
  }
  


  .grid.dragging:not(.dragging-touch) {
    cursor: pointer;
  }
  
  .grid.locked .ship {
    cursor: initial;
  }
  
  .grid.locked .ship .rotate {
    display: none;
  }

  .box {
    height: 60px;
    width: 60px;

    @media (min-width: 420px) {
      height: 80px;
      width: 80px;
    }

    position: relative;
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &:before {
      transition: opacity .1s .2s linear;
      opacity: 0;
      background: url("./images/shot-water.svg") 10px 11px no-repeat;
      

      @media (min-width: 420px) {
        background: url("./images/shot-water.svg") 20px 23px no-repeat;
      }
    }
    &.miss, &.hit {
      &:before {
        opacity: 1;
      }
      &:after {
        animation: peg .1s linear;
      }
    }
  }
  
  
  .box.miss::after {
    background: url("./images/miss-shot.svg") center 4px no-repeat;
    background-size: 38% auto;

    @media (min-width: 420px) {
      background: url("./images/miss-shot.svg") center 15px no-repeat;
    }
  }

  .box.green,.box.red {
    &:after {
      content: "";
      width:100%;
      height:100%;
      display:block;
    }
  }

  .box.green:after {
    background-color: rgba(60, 179, 114, 0.658);
  }
  
  .box.red:after {
    background-color: rgba(255, 0, 0, 0.616);
  }
  
  .ship-piece.hit::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
  }

  .ship[orientation="horizontal"]{
    .ship-piece.hit:after {
      left: 10%;
      top: -4%;
      transform: rotate(90deg);
      animation: ship-hit-horiz .1s linear;
    }
  } 
  
  .ship-piece.hit:after, .ship-piece.destroyed::after  {
    transform: translateX(-50%);
    animation: ship-hit .1s linear;
  }

  .ship-piece.hit:after, .ship-piece.destroyed::after  {
    background: url("./images/ship-hit.svg") center center no-repeat;
    @media screen AND (max-width: 420px) {
    background-size: 38% auto;
    }
  }

  .box.hit:after,.box.hit.destroyed::after {
    background: url("./images/hit-shot.svg") center 4px no-repeat;
    background-size: 38% auto;

    @media (min-width: 420px) {
      background: url("./images/hit-shot.svg") center 15px no-repeat;
    }
  }
  

  .ship-grid.not-ready .box.peg-hole:after {
    opacity: 0;
  }

  .box.peg-hole:not(.hit):after {

    content:"";
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("./images/peg.svg") center center no-repeat;
  }
  
  
  .ship {
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }

  .ship[type="carrier"] {
    background: url("./images/carrier.svg") no-repeat;
    &.destroyed {
      background: url("./images/carrier-sunk.svg") no-repeat;
    }
  }

  .ship[type="destroyer"] {
    background: url("./images/destroyer.svg") no-repeat;
    &.destroyed {
      background: url("./images/destroyer-sunk.svg") no-repeat;
    }
  }
  
  .ship[type="submarine"] {
    background: url("./images/submarine.svg") no-repeat;
    &.destroyed {
      background: url("./images/submarine-sunk.svg") no-repeat;
    }
  }
  
  .ship[type="battleship"] {
    background: url("./images/battleship.svg") no-repeat;
    &.destroyed {
      background: url("./images/battleship-sunk.svg") no-repeat;
    }
  }

  
  .ship.dragging {
    z-index: 100;
  }
  
  .ship.dragging .ship-piece {
    cursor: pointer;
  }
  
  .ship .rotate {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 13;
    border-radius: 100%;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ship .rotate svg {
    height: 24px;
    width: 24px;
    pointer-events: none;
  }
  
  .ship-piece {
    width: 60px;
    height: 60px;

    @media (min-width: 420px) {
      width: 80px;
      height: 80px;
    }

    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #attack-grid {

    .box {
      cursor: pointer;
    }
  }

  label {
    margin-left: 1rem;
  }

  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 3vh;
    height: calc(94vh - 38px);
    @media screen AND (min-width: 376px) {
      height: calc(94vh - 73px);
      padding-top: 6vh;
    }
    @media screen AND (min-width: 440px) {
      height: calc(94vh - 115px);
      
    }
  }

  .opponent-ships-list {
    display: flex;

    > div {
      margin-right: 0.5rem;
    }
  }

  .hide {
    opacity: 0;
    z-index: -1;
  }

  .ui-progress {
    img {
      height: 24px;
      margin-bottom: 0.5rem;
    }
  }
}