.Battleship {
  position: relative;
  width: 100%;
  height: 100%;

  .board-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  // .grid-wrapper {
  //   display: flex;
  //   justify-content: center;
  // }

  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 80px);
    @media screen and (min-width:1600px) {
      grid-template-columns: repeat(5, 100px);
    }
    position: relative;
  }
  
  .grid.dragging:not(.dragging-touch) {
    cursor: pointer;
  }
  
  .grid.locked .ship {
    cursor: initial;
  }
  
  .grid.locked .ship .rotate {
    display: none;
  }

  .box {
    height: 80px;
    width: 80px;
    @media screen and (min-width:1600px) {
      height: 100px;
      width: 100px;
    }
    border: 1px solid #cccccc;
    position: relative;
  }
  
  .box.green {
    background-color: mediumseagreen;
  }
  
  .box.red {
    background-color: red;
  }
  
  .box.miss::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
  }
  
  .box.hit::after,
  .ship-piece.hit::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    border: 2px solid red;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
  }
  
  .box.hit.destroyed::after,
  .ship-piece.destroyed::after {
    content: "x";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    border: 2px solid red;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
  }
  
  .ship {
    position: absolute;
    cursor: pointer;
  }

  .ship[type="carrier"]{
    background: url("./images/aircraft-carrier.svg") no-repeat;
  }

  .ship[type="destroyer"] {
    background: url("./images/destroyer.svg") no-repeat;
  }
  
  .ship[type="submarine"] {
    background: url("./images/submarine.svg") no-repeat;
  }
  
  .ship[type="battleship"] {
    background: url("./images/battleship.svg") no-repeat;
  }

  
  .ship.dragging {
    z-index: 100;
  }
  
  .ship.dragging .ship-piece {
    cursor: pointer;
  }
  
  .ship .rotate {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ship .rotate svg {
    height: 24px;
    width: 24px;
    pointer-events: none;
  }
  
  .ship-piece {
    width: 80px;
    height: 80px;
    @media screen and (min-width:1600px) {
      width: 50px;
      height: 50px;
    }
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // .ship-piece[type="destroyer"] {
  //   background-color: purple;
  // }
  
  // .ship-piece[type="submarine"] {
  //   background-color: #0057a8;
  // }
  
  // .ship-piece[type="battleship"] {
  //   background-color: #a51759;
  // }
  
  // .ship-piece[type="carrier"] {
  //   background-color: green;
  // }
  
  .ship-piece.destroyed::after {
    content: "x";
    position: absolute;
    width: 24px;
    height: 24px;
    color: white;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #attack-grid {
    .attacking {
      background: url(./images/miss-shot.svg) no-repeat;
    }
  }

  label {
    margin-left: 1rem;
  }

  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: space-between;
    padding-top: 6vh;
  }

  

  .opponent-ships-list {
    display: flex;

    > div {
      margin-right: 0.5rem;
    }
  }

  // .push-top {
  //   margin-top: 1rem;
  // }

  // .push-bottom {
  //   margin-bottom: 1rem;
  // }

  .hide {
    opacity: 0;
    z-index: -1;
  }
}