@keyframes points-fade {
    0% {
        opacity: 1;
        transform: translateY(180px);
    }

    100% {
        opacity: 0;
        transform: translateY(160px);
    }
}

@keyframes ship-sink {
    0% {
        transform: translate(-50%, 210px);
    }

    100% {
        transform: translate(-50%, 350px);
    }
}

.body-wrap {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bonus-round {
    #attack-grid,  .ui-progress, .ui-header {
        display: none;
    }
}

.body-wrap {
    &:not(.paused) {
        .top-ten {
            left: -370px;
        }
        .game-data {
            right: -370px;
        }
    }


    &.paused, &.game-over {
        @media screen and (max-width:1350px) {
            .ui-header, .ui-footer {
                opacity: 0;
            }
        }
        @media screen and (max-width:1240px) {
            .Battleship .board {
                display: none;
            }
        }
        .grid {
            .box {
                position: relative;
                &:after {
                    display: flex;
                    align-items: center;
                    z-index: 1000;
                    justify-content: center;
                    color: #fff;
                    font-size: 2rem;
                    line-height: 0;
                }
            }
        }
    }

    &.paused .grid .box {
        &:nth-child(1), &:nth-child(7), &:nth-child(13), &:nth-child(19), &:nth-child(25) {
            &:after {
                background: rgba(132, 188, 252, 0.842);
            }
        }
        &:nth-child(1) {
            &:after {
                content: 'P';
            }
        }
        &:nth-child(7) {
            &:after {
                content: 'A';
            }
        }
        &:nth-child(13) {
            &:after {
                content: 'U';
            }
        }
        &:nth-child(19) {
            &:after {
                content: 'S';
            }
        }
        &:nth-child(25) {
            &:after {
                content: 'E';
            }
        }
    }

    &.game-over .grid .box {
        &:nth-child(6) {
            &:after {
                content: 'G';
            }
        }
        &:nth-child(7) {
            &:after {
                content: 'A';
            }
        }
        &:nth-child(8) {
            &:after {
                content: 'M';
            }
        }
        &:nth-child(9) {
            &:after {
                content: 'E';
            }
        }
        &:nth-child(12) {
            &:after {
                content: 'O';
            }
        }
        &:nth-child(13) {
            &:after {
                content: 'V';
            }
        }
        &:nth-child(14) {
            &:after {
                content: 'E';
            }
        }
        &:nth-child(15) {
            &:after {
                content: 'R';
            }
        }
    }
}

.ui {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &-screen-text {
      color: var(--green);
      text-transform: uppercase;
      text-shadow: 2px 2px 0 var(--dark-green);
  }

  &-header {
      
      display: grid;
      grid-template-columns: 1fr;
      @media screen and (min-width:545px) {
        grid-template-rows: 3fr 1fr;
      } 
      position: relative;
      
     
      &-main {
          background: url("/images/header-bg.svg") no-repeat;
          width: 100vw;
          @media screen and (min-width:540px) {
            width: 540px;
       }
        height: 100vh;
          max-height: 87px;
            @media screen and (min-width:400px) {
                max-height: 125px;
            }
          background-size: contain;
          display: grid;
          position: relative;
          z-index: 1000;
          grid-template-columns: 1fr 5fr;
          grid-template-rows: min-content min-content;
          grid-template-areas: 
          "badge title"
          "badge points";

          &__badge {
              width:7.2vw;
              max-width: 42px;
              margin-block-start: 3px;
              justify-self: end;
              grid-area: badge;
          }
          &__title {
              grid-area: title;
              @media screen and (min-width:540px) {
                margin-block-start: 24px;
           }
              margin-block-start: 16px;
          }
          &__points {
              grid-area: points;
              margin-block-start: 8px;
          }
          &__title, &__points {
              color: #fff;
              margin-inline-start: 16px;     
              text-shadow: 2px 2px 0 var(--dark-green);    
          }
          &__points-animate {
            position: absolute;
            white-space: nowrap;
            display: flex;
            color: #fff;
            width: 100%;
            justify-content: center;
            transform: translateY(190px);
            opacity: 0;
            &.show {
                animation: points-fade 1s linear;
            }
        }
      }

      &-sub {

          width: 445px;
          background: url("/images/header-text-bg.svg") no-repeat;
          margin-block-start: -4px;
          margin-inline-start: auto;
          margin-inline-end: 24px;
          display: none;
          justify-content: center;
          @media screen and (min-width:545px) {
            display: flex;
          }        
          
          &__text {
              margin-top: 6px;
              opacity: 1;
            animation: fade 2s ease-in-out;
          }
      }
  }

  &-progress {
    @media screen and (min-height:800px) {
        display: flex;
      }
      display: none;
      list-style: none;
      justify-content: space-around;
      width: 100%;
      height: 32px;
      padding: 0;
      margin:6vh 0 0 0;

      li {
          height: 25px;
          font-size: 0.5rem;
      }
     .five {
         width: 130px;
     }
     .four {
         width: 110px;
     }
     .three {
         width: 90px;
     }
     .two {
         width: 60px;
     }
     .one {
         width: 70px;
     }
  }

  &-board {
      width: 400px;
      height: 400px;
      border: 1px solid #fff;
      margin: auto;
  }

  &-footer {
    width: 485px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-overlay {
        width: inherit;
        height: inherit;
        background: url("/images/footer-bg.svg") no-repeat;
        background-size: cover;
    }

    &__screen-text-wrap {
        text-align: center;
        width: 400px;
        overflow:hidden;
        display: block;
        margin-top: 16px;
        height: 25px;
        position: absolute;
        white-space: nowrap;
    }

    &__screen-text-scroll {
        position: absolute;
        will-change: transform; 
        animation: scroll 30s infinite linear;
    }
    
    &__action{
        height: 120px;
        &:after {
            content: "";
            background:var(--dark-purple);
            width: 422px;
            height: 70px;
            bottom: 0;
            z-index: -100;
            position: absolute;
        }
        .ui-footer__btn {
            display: block;
        }
    } 
    &:not(.ui-footer__bonus) {
        [class*="bonus"] {
            display: none;
        }
    }  
        
    &__min {
        height: 70px;
        background-size: cover;
    }

    &__bonus {
        height: 625px;
        position: absolute;
        z-index: 2000;
        left: 50%;
        bottom: 0;
        transform: translateX( -50%);
    
        &__sky {
            width:95%;
            height:500px;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1000;
            background:url("/images/clouds.svg") center 60px no-repeat, var(--sky);
            background-size: 90% auto;
        }
        &__target {
            width: 150px;
            position: absolute;
            left:50%;
            top: 190px;
            transform: translateX(-50%);
            height: 150px;
            z-index: 1000;
            &.shake {
                animation: shake .25s linear infinite;
            }
        }
        &__water {
            width:100%;
            height: 55%;
            bottom: 0;
            position: absolute;
            background:url("/images/waves.svg") center top no-repeat, var(--ocean);
            background-size: 90% auto;
            z-index: -1;
        }
        &__ship {
            position: absolute;
            left: 50%;
            z-index: -2;
            &:after, &:before {
                position: absolute;
                z-index: 15;
                content:"";
                width: 32px;
                height: 32px;
                background: url("./images/fire-animation.svg") no-repeat;
                animation: fire .9s steps(4) infinite;
            }
            &:after {
                top: -18px;
                left: 25px;
            }
            &:before {
                top:20%;
                right: 3%;
                animation-delay: .2s;
            }

             &.Submarine, &.Battleship, &.Carrier, &.Destroyer {
                transform: translate(-50%, 350px);
                height:100px;
                animation: ship-sink 15s linear;
             }

             &:not(.submarine) {
                width: 200px;
             }
             
            &.Submarine {
                width: 170px;
                background: url('./images/bonus-sub.svg') center center / contain no-repeat;
            }

            &.Battleship {
                background: url('./images/bonus-battleship.svg') center center / contain no-repeat;
            }

            &.Destroyer {
                background: url('./images/bonus-destroyer.svg') center center / contain no-repeat;
            }

            &.Carrier {
                background: url('./images/bonus-carrier.svg') center center / contain no-repeat;  
            }

        }

        &__points {
            color: #fff;
            position: absolute;
            top: 20%;
            font-size: 2rem;
        }

        &__action {
            position: absolute;
            width: 135px;
            bottom: 18px;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            height: 135px;
            background: url("/images/fire-btn.png") center center no-repeat;
            background-size: cover;
            z-index: 2000;
            cursor: pointer;
            &:active {
                outline-style: none;
box-shadow: none;
border-color: transparent;
                background: url("/images/fire-btn-pressed.png") center center no-repeat;
                background-size: cover;
            }
        }
    }



    &__screen-text {
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 16px;
        position: absolute;
    }
    &__btn {
        display: none;
        cursor: pointer;
        background: url("/images/button-bg.svg") no-repeat;
        background-size: contain;
        border: none;
        width: 405px;
        height: 60px;
        color: #fff;
        position: absolute;
        bottom: -5px;
        font-family: "dogica", sans-serif;
        text-shadow: 2px 2px 0 var(--dark-green);
        font-size: 1.3rem;
        &:hover, &:focus {
            bottom: -7px;
        }
        
    }
}

}